.menu li {
  background-color: rgb(220, 78, 168);
  display: inline-block;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  margin-top: 10px;
  padding: 2px;
}

.favicon {
  height: 60px;
  width: 60px;
}

ol {
  padding-top: 10px;
  font-size: large;
  font-weight: 900;
  margin-left: 20%;
}

@media screen and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    font-size: medium;
  }
  .container {
    display: grid;
    grid-template-areas: "header header aside" "content content content" "footer footer footer";
  }
  .container header {
    grid-area: header;
    background-color: transparent;
  }
  .container main {
    grid-area: content;
  }
  .container aside {
    grid-area: aside;
    background-color: transparent;
  }
  .container footer {
    grid-area: footer;
    background-color: gray;
  }
  .menu li {
    background-color: rgb(220, 78, 168);
    display: inline-block;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 3px;
  }
  .mediana {
    height: 200px;
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
  }
  .container {
    display: grid;
    grid-template-areas: "header aside" "content content" "footer footer";
  }
  .container header {
    grid-area: header;
    background-color: transparent;
  }
  .container main {
    grid-area: content;
  }
  .container aside {
    grid-area: aside;
    background-color: transparent;
  }
  .container footer {
    grid-area: footer;
    background-color: gray;
  }
  .menu li {
    background-color: rgb(220, 78, 168);
    display: inline-block;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 3px;
  }
  .mediana {
    height: 200px;
    width: 400px;
  }
}
.video {
  margin-left: 30%;
}

@media screen and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    font-size: small;
  }
  .container {
    display: grid;
    grid-template-areas: "aside header header" "content content content" "footer footer footer";
  }
  .container header {
    grid-area: header;
    background-color: transparent;
  }
  .container main {
    grid-area: content;
  }
  .container aside {
    grid-area: aside;
    background-color: transparent;
  }
  .container footer {
    grid-area: footer;
    background-color: gray;
  }
  .menu li {
    background-color: rgb(220, 78, 168);
    display: inline-block;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 3px;
    font-size: small;
  }
  .video {
    margin-left: 10%;
    width: 400px;
    height: 300px;
  }
  .mediana {
    height: 300px;
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    font-size: small;
    box-sizing: border-box;
  }
  .container {
    display: grid;
    grid-template-areas: "aside header" "content content" "footer footer";
  }
  .container header {
    grid-area: header;
    background-color: transparent;
  }
  .container main {
    grid-area: content;
  }
  .container aside {
    grid-area: aside;
    background-color: transparent;
  }
  .container footer {
    grid-area: footer;
    background-color: gray;
  }
  .menu li {
    background-color: rgb(220, 78, 168);
    display: inline-block;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 3px;
  }
  .video {
    margin-left: 2%;
    width: 400px;
    height: 300px;
  }
  .mediana {
    height: 200px;
    width: 400px;
  }
}
.menu li {
  background-color: rgb(220, 78, 168);
  display: inline-block;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  margin-top: 10px;
  padding: 2px;
}

.favicon {
  height: 60px;
  width: 60px;
}

h4 {
  text-align: center;
}

.imagen-texto {
  display: flex;
  justify-content: center;
  align-items: right;
  margin: 5px;
  border: 5px;
  border-style: double;
}

@media screen and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    font-size: medium;
  }
  .container {
    display: grid;
    grid-template-areas: "asideheader header " "content content content" "footer footer footer";
  }
  .container header {
    grid-area: header;
    background-color: transparent;
  }
  .container main {
    grid-area: content;
  }
  .container aside {
    grid-area: aside;
    background-color: transparent;
  }
  .container footer {
    grid-area: footer;
    background-color: gray;
  }
  .menu li {
    background-color: rgb(220, 78, 168);
    display: inline-block;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 3px;
    font-size: small;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    font-size: small;
    box-sizing: border-box;
  }
  .container {
    display: grid;
    grid-template-areas: "aside header" "content content" "footer footer";
  }
  .container header {
    grid-area: header;
    background-color: transparent;
  }
  .container main {
    grid-area: content;
  }
  .container aside {
    grid-area: aside;
    background-color: transparent;
  }
  .container footer {
    grid-area: footer;
    background-color: gray;
  }
  .menu li {
    background-color: rgb(220, 78, 168);
    display: inline-block;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 3px;
    font-size: small;
  }
}
.menu li {
  background-color: rgb(220, 78, 168);
  display: inline-block;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  margin-top: 10px;
  padding: 2px;
}

.favicon {
  height: 60px;
  width: 60px;
}

@media screen and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    font-size: medium;
  }
  .container {
    display: grid;
    grid-template-areas: "aside header header" "content content content" "footer footer footer";
  }
  .container header {
    grid-area: header;
    background-color: transparent;
  }
  .container main {
    grid-area: content;
  }
  .container aside {
    grid-area: aside;
    background-color: transparent;
  }
  .container footer {
    grid-area: footer;
    background-color: gray;
  }
  .menu li {
    background-color: rgb(220, 78, 168);
    display: inline-block;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 3px;
    font-size: small;
  }
  .mediana {
    height: 200px;
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    font-size: small;
    box-sizing: border-box;
  }
  .container {
    display: grid;
    grid-template-areas: "aside header" "content content" "footer footer";
  }
  .container header {
    grid-area: header;
    background-color: transparent;
  }
  .container main {
    grid-area: content;
  }
  .container aside {
    grid-area: aside;
    background-color: transparent;
  }
  .container footer {
    grid-area: footer;
    background-color: gray;
  }
  .menu li {
    background-color: rgb(220, 78, 168);
    display: inline-block;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 3px;
    font-size: small;
  }
  .mediana {
    height: 200px;
    width: 400px;
  }
}
.menu li {
  background-color: rgb(220, 78, 168);
  display: inline-block;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  margin-top: 10px;
  padding: 2px;
}

.favicon {
  height: 60px;
  width: 60px;
}

@media screen and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    font-size: medium;
  }
  .container {
    display: grid;
    grid-template-areas: "aside header header" "content content content" "footer footer footer";
  }
  .container header {
    grid-area: header;
    background-color: transparent;
  }
  .container main {
    grid-area: content;
  }
  .container aside {
    grid-area: aside;
    background-color: transparent;
  }
  .container footer {
    grid-area: footer;
    background-color: gray;
  }
  .menu li {
    background-color: rgb(220, 78, 168);
    display: inline-block;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 3px;
    font-size: small;
  }
  .mediana {
    height: 200px;
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    font-size: small;
    box-sizing: border-box;
  }
  .container {
    display: grid;
    grid-template-areas: "aside header" "content content" "footer footer";
  }
  .container header {
    grid-area: header;
    background-color: transparent;
  }
  .container main {
    grid-area: content;
  }
  .container aside {
    grid-area: aside;
    background-color: transparent;
  }
  .container footer {
    grid-area: footer;
    background-color: gray;
  }
  .menu li {
    background-color: rgb(220, 78, 168);
    display: inline-block;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 3px;
    font-size: small;
  }
  .mediana {
    height: 200px;
    width: 400px;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: justify;
}

body {
  background-image: url("../IMG/BG.png");
  background-size: 240vh;
}

.container {
  display: grid;
  grid-template-areas: "aside aside header header" "content content content content" "footer footer footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content max-content;
}

.container header {
  grid-area: header;
}
.container header .peq {
  padding: 0;
  margin: 0;
}

.container main {
  grid-area: content;
}

.container aside {
  grid-area: aside;
  background-color: transparent;
}

.container footer {
  grid-area: footer;
  background-color: gray;
  margin-top: 60px;
}

.peq {
  height: 30px;
  width: 30px;
  margin: 10px;
}

.mediana {
  height: 400px;
  width: 500px;
}

.p-footer {
  margin-top: 10px;
  text-align: center;
  text-decoration: underline;
}

.tips {
  height: 100px;
  width: 100px;
}

h1 {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.link-color {
  color: aqua;
  text-decoration: none;
}

.lista {
  font-style: oblique;
  font-size: large;
  margin-left: 30%;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

li {
  color: blue;
}
li:hover {
  color: pink;
}

p {
  word-wrap: break-word;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
p {
  animation: fadeIn 2s;
}

.favicon {
  animation: spin 40s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
